    <!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到小型自选商场管理系统</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.all.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
{% if messages %}

    <script>
        $(function () {
            {% for msg in messages %}
                {#alert('{{ msg.message }}');#}
                layer.msg('{{ msg.message }}');
            {% endfor %}

        })
        // 标记是否有错误信息
    alt = true

    </script>
{% endif %}
<body style="background-color: cornflowerblue;">
    {% if messages %}
       <ul class=" ui red header messages" style="background-color: cornflowerblue; position: absolute;top: 60%;left: 42%;">
           {% for message in messages %}
           <P {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</P>
           {% endfor %}
       </ul>
    {% endif %}
   <div class="ui center segment"
                style=" min-height: 540px;
                opacity: 0.8;
                background-color: ghostwhite;
                width:315px !important;
                border:rgba(255, 0, 0, 0);
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);">
       <div class="ui center content login">
           <div class="ui header">
               <h2 class="ui red">个人信息更改</h2>
               <form action="/infochange/" method="post" style="position: absolute;top: 10%;left: 5%;">
                   {% csrf_token %}
                   <div class="field">
                       <div class="ui left icon input">
                            {{ form.as_p }}
                       </div>
                   </div>
                   <button class="ui center red submit button" style="position: absolute;top: 100%;left: 30%;">确认更改</button>
                   <a href="../infomanage/" class="ui center red button" style="position: absolute;top: 120%;left: 30%;">返回</a>
               </form>
           </div>
       </div>
   </div>



</body>
</html>