<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到小型自选商场管理系统</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.all.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<script>
    alt = false
</script>

{% if messages %}

    <script>
        $(function () {
            {% for msg in messages %}
                {#alert('{{ msg.message }}');#}
                layer.msg('{{ msg.message }}');
            {% endfor %}

        })
        // 标记是否有错误信息
    alt = true

    </script>
{% endif %}

<!--body style="background: url({% static 'images/user_bg.jpg' %}); background-size: cover"-->
<body class="layui-bg-gray">

<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item {{ goods_inver }}">
        <a href="?query=goods" methods="get">商品信息</a>
    </li>
    <li class="layui-nav-item {{ sellout_inver }}">
        <a href="?query=sellout" methods="get">销售信息</a>
    </li>
    <li class="layui-nav-item {{ storage_inver }}">
        <a href="?query=storage" methods="get">库存信息</a>
    </li>
    <li class="layui-nav-item {{ stockout_inver }}">
        <a href="?query=stockout">出库单查询</a>
    </li>
    <li class="layui-nav-item {{ wavehouse_inver }}">
        <a href="?query=wavehousing">入库单查询</a>
    </li>
    <li class="layui-nav-item {{ store_inver }}">
        <a href="javascript:instore()" methods="post">入库</a>
    </li>
    <li class="layui-nav-item {{ store_inver }}">
        <a href="javascript:outstore()" methods="post">出库</a>
    </li>
    <li class="layui-nav-item {{ sup_inver }}">
        <a href="?query=supplier">供应商查询</a>
    <li class="layui-nav-item">
        <a href="/logout/" >退出系统</a>
    </li>
    </li>
</ul>
<script>
    ;!function () {
        var layer = layui.layer
            , form = layui.form
            , element = layui.element;

        console.log(element.constructor())
    }();
    //注意：导航 依赖 element 模块，否则无法进行功能性操作.


    function instore() {

        layer.open({
            type: 2,
            area: ['500px', '600px'],
            content: ['/instore', 'no'] //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
        });
    }

    function outstore() {
        layer.open({
            type: 2,
            area: ['500px', '600px'],
            content: ['/outstore', 'no'] //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
        });
    }

    function infochange() {
        window.location.href = "/infochange"
        layer.open({
            type: 2,
            area: ['500px', '600px'],
            content: ['/infochange', 'no'] //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
        });
    }


</script>
<div class="ui contain">
    <!--菜单栏部分-->

{#    <div class="ui eight item menu" style="background-color: white;height: 70px;opacity: 0.6">#}
{##}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="?query=goods" methods="get" class="ui {{ goods_inver }} primary blue button">商品信息</a>#}
{#        </div>#}
        {#盘点，计算总营收等等#}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="?query=sellout" methods="get" class="ui {{ sellout_inver }} primary blue button">销售信息</a>#}
{#        </div>#}
{##}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="?query=storage" methods="get" class="ui {{ storage_inver }} primary blue button">库存信息</a>#}
{#        </div>#}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="?query=stockout" class="ui {{ stockout_inver }} primary blue button">出库单查询</a>#}
{#        </div>#}
{##}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="?query=wavehousing" class="ui {{ wavehouse_inver }} primary blue button">入库单查询</a>#}
{#        </div>#}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="/instore" methods="post" class="ui {{ store_inver }} primary blue button">入库</a>#}
{#        </div>#}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="/outstore" methods="post" class="ui {{ store_inver }} primary blue button">出库</a>#}
{#        </div>#}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="?query=supplier" class="ui {{ sup_inver }} primary blue button">供应商查询</a>#}
{#        </div>#}
{#        <div class="item" style="width: 10%;">#}
{#            <a href="/logout/" class="ui  primary red button">退出系统</a>#}
{#        </div>#}
{##}
{#    </div>#}
    <!--左侧个人基础信息segment-->
    <div class="ui segment" style=" min-height: 400px;
                    opacity: 0.5;
                    background-color: ghostwhite;
                    width: 220px !important;
                    border:rgba(255, 0, 0, 0);
                    position: absolute;
                    left: 10%;
                    top:60%;
                    transform: translate(-50%,-50%);">
        <div class="ui image">
{#            <i class="ui massive user icon"></i>#}
            <img src="/static/images/tx.jpeg"  class="ui massive user icon">
            <h3 class="ui center header">
                姓名:&nbsp&nbsp&nbsp {{ request.user.userinfo.name }}
            </h3>
            <h3 class="ui center">
                职位:&nbsp&nbsp&nbsp{{ request.user.userinfo.job }}
            </h3>
            <h3 class="ui center">
                工号:&nbsp&nbsp&nbsp{{ request.user.userinfo.job_num }}
            </h3>
            <h3 class="ui center">
                    性別:&nbsp&nbsp&nbsp{{request.user.userinfo.sex}}
            </h3>
            <br>
            <a href="javascript:infochange()" class="ui center blue button">更改信息</a>
        </div>
    </div>

<div class="layui-carousel"  id="test1">
  <div carousel-item style="object-fit:fill" >
    <img src="/static/images/gg1.gif">
    <img src="/static/images/gg2.gif">
    <img src="/static/images/gg3.gif">
  </div>
</div>

    <!--主要功能区-->
    <div class="ui blue segment"
         style="background-color: ghostwhite; opacity: 0.7; width: 60%;margin-top: 2.5em;left: 30%">



<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
      ,autoplay:true
      ,height:'200px'
  });
});
</script>
        <!--供应商查询-->
        {% if name == 'supplier' %}
            <table class="ui blue table" lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{field:'supplierID',  sort: true}">供应商编号</th>
                    <th lay-data="{field:'supplierName',  sort: true}">供应商名称</th>
                    <th lay-data="{field:'supplierPhone',  sort: true}">供应商电话</th>
                </tr>
                </thead>
                {% for sup in each_object %}
                    <tbody>
                    <tr>
                        <td>{{ sup.supID }}</td>
                        <td>{{ sup.sup_name }}</td>
                        <td>{{ sup.sup_tel }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}

        {% if name == 'goods' %}
            <table class="ui blue table" lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{field:'goodsNane',  sort: true}">货物名称</th>
                    <th lay-data="{field:'goodsID',  sort: true}">货物编号</th>
                    <th lay-data="{field:'cost',  sort: true}">成本</th>
                    <th lay-data="{field:'price',  sort: true}">售价</th>
                    <th lay-data="{field:'discount',  sort: true}">折扣</th>
                    <th lay-data="{field:'soldInQuantity',  sort: true}">在售数量</th>
                    <th lay-data="{field:'supplierNane',  sort: true}">供应商名称</th>
                </tr>
                </thead>
                {% for good in each_object %}
                    <tbody>
                    <tr>
                        <td>{{ good.goods_name }}</td>
                        <td>{{ good.goodsID }}</td>
                        <td>{{ good.goods_price }}</td>
                        <td>{{ good.goods_sprice }}</td>
                        <td>{{ good.goods_discount }}</td>
                        <td>{{ good.goods_amount }}</td>
                        <td>{{ good.goods_sup }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}

        {% if name == 'sellout' %}
            <table class="ui blue table" lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{field:'goodsName',  sort: true}">商品名称</th>
                    <th lay-data="{field:'user',  sort: true}">购买用户</th>
                    <th lay-data="{field:'count',  sort: true}">销售数量</th>
                    <th lay-data="{field:'date',  sort: true}">销售时间</th>
                </tr>
                </thead>
                {% for good in each_object %}
                    <tbody>
                    <tr>
                        <td>{{ good.goods_name }}</td>
                        <td>{{ good.res_person }}</td>
                        <td>{{ good.out_amount }}</td>
                        <td>{{ good.out_date|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
                {#  如何计算总营收 #}
                <tbody>
                <tr>
                    <td>总营收</td>
                    <td></td>
                    <td></td>
                    <td>￥{{ revenue }}</td>
                </tr>
                </tbody>
            </table>
        {% endif %}

        {% if name == 'storage' %}
            <table class="ui blue table" lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{field:'goodsName',  sort: true}">商品名称</th>
                    <th lay-data="{field:'stock',  sort: true}">现有库存量</th>
                    <th lay-data="{field:'maxStock',  sort: true}">最大库存量</th>
                    <th lay-data="{field:'updateTime',  sort: true}">更新时间</th>
                </tr>
                </thead>
                {% for good in each_object %}
                    <tbody>
                    <tr>
                        <td>{{ good.goods_name }}</td>
                        <td>{{ good.storage_amount }}</td>
                        <td>{{ good.storage_max }}</td>
                        <td>{{ good.create_date|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
        <!--出库单查询-->
        {% if name == 'wavehousing' %}
            <table class="ui blue table" lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{field:'goodsName',  sort: true}">商品名称</th>
                    <th lay-data="{field:'supplierName',  sort: true}">供应商名称</th>
                    <th lay-data="{field:'operator',  sort: true}">经办人姓名</th>
                    <th lay-data="{field:'price',  sort: true}">入库单价</th>
                    <th lay-data="{field:'count',  sort: true}">入库数量</th>
                    <th lay-data="{field:'date',  sort: true}">入库时间</th>
                    <th lay-data="{field:'comment',  sort: true}">入库备注</th>
                </tr>
                </thead>
                {% for good in each_object %}
                    <tbody>
                    <tr>
                        <td>{{ good.goods_name }}</td>
                        <td>{{ good.sup_name }}</td>
                        <td>{{ good.res_person }}</td>
                        <td>{{ good.in_price }}</td>
                        <td>{{ good.in_amount }}</td>
                        <td>{{ good.in_date|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ good.in_ps }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            {% if messages %}
                <ul class=" ui red header messages"
                    style="background-color: ghostwhite; position: absolute;top: 100%;left: 35%;">
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <!--出库单查询-->
        {% if name == 'stockout' %}
            <table class="ui red table" lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{field:'goodsName',  sort: true}">货物名称</th>
                    <th lay-data="{field:'supplierName',  sort: true}">供应商名称</th>
                    <th lay-data="{field:'operator',  sort: true}">经办人姓名</th>
                    {#					<th>出库单价</th>#}
                    <th lay-data="{field:'count',  sort: true}">出库数量</th>
                    <th lay-data="{field:'out_date',  sort: true}">出库时间</th>
                    {#                    <th>可选折扣</th>#}
                    <th lay-data="{field:'out_ps',  sort: true}">出库备注</th>
                </tr>
                </thead>
                {% for good in each_object %}
                    <tbody>
                    <tr>
                        <td>{{ good.goods_name }}</td>
                        <td>{{ good.sup_name }}</td>
                        <td>{{ good.res_person }}</td>
                        <td>{{ good.out_amount }}</td>
                        <td>{{ good.out_date|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ good.out_ps }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>

            {% if messages %}
                <ul class=" ui black header messages"
                    style="background-color: cornflowerblue; position: absolute;top: 100%;left: 35%;">
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}

        {% endif %}
        <div class="ui header">
            {% for pg in each_object.paginator.page_range %}
                {% if each_object.number == pg %}
                    <a class="ui active red header" href="?query={{ name }}&page={{ pg }}">&nbsp;{{ pg }}</a>
                {% else %}
                    <a class="ui header" href="?query={{ name }}&page={{ pg }}">&nbsp;{{ pg }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="ui large buttons" style="position: absolute;top: 90%;left: 53%">
        {% if each_object.has_previous %}
            <a href="?query={{ name }}&page={{ each_object.previous_page_number }}" class="ui blue button">上一页</a>
        {% else %}
            <a class="ui button">上一页</a>
        {% endif %}
        <div class=" ui or"></div>
        {% if each_object.has_next %}
            <a href="?query={{ name }}&page={{ each_object.next_page_number }}" class="ui blue button active">下一页</a>
        {% else %}
            <a class="ui button">下一页</a>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
                var table = layui.table;
                //转换静态表格
                table.init('demo', {
                    limit: 7 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
                    //支持所有基础参数
                });
</script>
</body>
</html>
