<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.all.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

<script>
    alt = false
</script>

{% if messages %}

    <script>
        $(function () {
            {% for msg in messages %}
                {#alert('{{ msg.message }}');#}
                layer.msg('{{ msg.message }}');
            {% endfor %}

        })
        // 标记是否有错误信息
    alt = true

    </script>
{% endif %}
<body class="layui-bg-gray">
    <meta charset="UTF-8">
    <title>入库</title>
    <div class="ui center segment"
                style=" min-height: 600px;
                opacity: 0.8;
                background-color: ghostwhite;
                width:500px !important;
                border:rgba(255, 0, 0, 0);
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);">
       <div>
           <div class="ui header">
               <h2 class="ui red">入库</h2>
               <form action="/instore/" method="post" style="position: absolute;top: 10%;left: 20%;">
                   {% csrf_token %}
                   <div class="field">
                       <div class="ui left icon input" style="width:120%;height:10%;">
                            {{ form.as_p }}
                       </div>
                   </div>
                   <button class="ui center blue submit button" style="position: absolute;top: 105%;left: 25%;">确定</button>
                   <a href="../infomanage/" class="ui center blue button" style="position: absolute;top: 105%;left: 45%;">返回</a>
               </form>
               {% if messages %}
                   <ul class=" ui black header messages" style="background-color: cornflowerblue; position: absolute;top: 100%;left: 35%;">
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                    </ul>
               {% endif %}
           </div>
       </div>
   </div>
<script type="text/javascript">
    goods = []
    sups=[]
    $.get("/getGoodInfo",function (ret) {
        console.log(ret)
        goods = ret
    })

    $.get("/getSupInfo",function (ret) {
        console.log(ret)
        sups = ret
    })


    $('#id_goodsID').bind('input propertychange', function () {
        id = $('#id_goodsID').val()
        if (id < 1){
            alert('id不能小于1')
            $('#id_goodsID').val('')
            return
        }
        {#good = goods[id - 1]#}
        good = getByid(goods, 'goodsID', id)
        loadGoodInfo(good)
    });

    function loadGoodInfo(good) {
        console.log(good)
        $('#id_goods_name').val(good['goods_name'])
        $('#id_op_price').val(good['goods_price'])
        sup_id = good['goods_sup']
        console.log(sup_id)
        //console.log(sups[sup_id - 1])
        sup_name = getByid(sups, 'id', sup_id)
        console.log(sup_name)
        $('#id_sup_name').val(sup_name['sup_name'])
    }

    function getByid(list, tag, val) {
        for (item of list) {
            console.log(item, val,item[tag] )
            if (item[tag] == val){
                return item
            }
        }
        console.log("没找到")

    }

</script>
</body>
</html>