<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到小型自选商场管理系统</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body style="background: url({% static 'images/user_bg.jpg' %}); background-size: cover">
    <div class="ui contain">
                <!--菜单栏部分-->
        <div class="ui eight item menu" style="background-color: white;height: 80px;opacity: 0.7">

            <div class="item">
                <a href="?query=goods" methods="get" class="ui {{ goods_inver }} primary blue button">商品信息</a>
            </div>
            <div class="item">
                <a href="?query=sellout" methods="get" class="ui {{ sellout_inver }} primary blue button">消费记录</a>
            </div>
            <div class="item">
                <a href="/logout/" class="ui  primary red button">退出系统</a>
            </div>

        </div>
                <!--左侧个人基础信息segment-->
        <div class="ui segment" style=" min-height: 400px;
                    opacity: 0.5;
                    background-color: ghostwhite;
                    width: 220px !important;
                    border:rgba(255, 0, 0, 0);
                    position: absolute;
                    left: 10%;
                    top:45%;
                    transform: translate(-50%,-50%);">
            <div class="ui image">
                <i class="ui massive user icon"></i>
                <h3 class="ui center header">
                    姓名:&nbsp&nbsp&nbsp {{request.user.username}}
                </h3>
                <h3 class="ui center">
                    性别:&nbsp&nbsp&nbsp<i class="man icon"></i>
                </h3>
{#                <h3 class="ui center">#}
{#                    职位:&nbsp&nbsp&nbsp{{request.user.userinfo.job}}#}
{#                </h3>#}
                <h3 class="ui center">
                    编号:&nbsp&nbsp&nbsp{{request.user.userinfo.job_num}}
                </h3>
                <br>
                <a href="/infochange/" class="ui center red button" >更改信息</a>
        </div>
    </div>

        <!--主要功能区部分，最大最麻烦 0.0-->
    <div class="ui right segment" style="background-color: ghostwhite; opacity: 0.7; width: 60%;margin-top: 2.5em;left: 30%">
        {% if  sell  %}
        购买成功！
    {% endif %}
        <!--供应商查询-->
        {% if name == 'supplier' %}
            <table class="ui red table">
            <thead>
                <tr>
                    <th>供应商编号</th>
                    <th>供应商名称</th>
                    <th>供应商电话</th>
              </tr>
            </thead>
            {% for sup in each_object %}
            <tbody>
                <tr>
                  <td>{{sup.supID}}</td>
                  <td>{{ sup.sup_name }}</td>
                  <td>{{ sup.sup_tel }}</td>
                </tr>
            </tbody>
            {% endfor %}
            </table>
        {% endif %}

        <!--商品查询查询-->
        {% if name == 'goods' %}
{#        <form class="ui" method="get">#}
{#                <tr>#}
{#                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                    <th>货物名称or编号:</th>#}
{#                    <input  class="ui" type="text" name="goodsInfo" size="10" >#}
{#                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                    <th>价格区间:</th>#}
{#                    <input  class="ui" type="text" name="goodsMAX" size="5" >----#}
{#                    <input  class="ui" type="text" name="goodsMIN" size="5" >#}
{#                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                    <button  class="ui red button" >筛选</button>#}
{#                </tr>#}
{#        </form>#}
            <table class="ui red table">
            <thead>
                <tr>
					<th>货物名称</th>
                    <th>货物编号</th>
                    <th>售价</th>
                    <th>折扣</th>
{#                    <th>总成本</th>#}
{#					<th>总营收</th>#}
                    <th>在售数量</th>
{#                    <th>最大库存量</th>#}
					<th>供应商名称</th>
                    <th>购买</th>
              </tr>
            </thead>
{#            add#}
            {% for good in each_object %}
            <tbody>
                <tr>
                <form method="get">
                  <td>{{ good.goods_name }}</td>
                  <td>{{ good.goodsID }}</td>
				  <td>{{ good.goods_sprice}}</td>
                  <td>{{ good.goods_discount}}</td>
                  <td>{{ good.good_amount}}</td>
{#                  <td>{{ good.goods_max}}</td>#}
                  <td>{{ good.goods_sup}}</td>
{#                <form action="/test.php" method="get">#}
                <td>
                <input type="number" name={{  good.goods_name }} min="1"  style="width:41px;">
                <input type="submit" >
                </td>
                </form>
                  {% if good.wave_goods.in_amount %}
                      {% if good.good_amount %}
                            {% if good.stock_goods.out_amount %}
                                <td>{{ good.good_amount|add:good.wave_goods.in_amount|add:good.stock_goods.out_amount }}</td>
                            {% else %}
                              <td>{{ good.good_amount|add:good.wave_goods.in_amount }}</td>
                            {% endif %}
                      {% else %}
                        <td>{{ good.good_amount|add:good.wave_goods.in_amount }}</td>
                      {% endif %}
                  {% else %}
                  {% endif %}

                </tr>
            </tbody>
            {% endfor %}
            </table>

            {% if messages %}
           <ul class=" ui red header messages" style="background-color: ghostwhite; position: absolute;top: 100%;left: 35%;">
               {% for message in messages %}
               <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
               {% endfor %}
           </ul>
            {% endif %}
        {% endif %}

           {% if name == 'sellout' %}
            <table class="ui red table">
            <thead>
                <tr>
					<th>商品名称</th>
                    <th>购买用户</th>
                    <th>购买数量</th>
					<th>购买时间</th>
              </tr>
            </thead>
            {% for good in each_object %}
            <tbody>
                <tr>
                  <td>{{ good.goods_name }}</td>
                  <td>{{ good.res_person }}</td>
                  <td>{{ good.out_amount }}</td>
                  <td>{{ good.out_date }}</td>
                </tr>
            </tbody>
            {% endfor %}
            {#  如何计算总营收 #}
            <tbody>
                <tr>
                    <td>总消费</td>
                    <td></td>
                    <td></td>
                    <td>￥{{  money}}</td>
                </tr>
            </tbody>
            </table>
            {% if messages %}
               <ul class=" ui red header messages" style="background-color: ghostwhite; position: absolute;top: 100%;left: 35%;">
                   {% for message in messages %}
                   <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                   {% endfor %}
               </ul>
            {% endif %}
        {% endif %}


        <div class="ui header">
            {% for pg in each_object.paginator.page_range %}
                {% if each_object.number == pg %}
                    <a  class="ui active red header" href="?query={{ name }}&page={{ pg }}">&nbsp;{{ pg }}</a>
                {% else %}
                    <a  class="ui header" href="?query={{ name }}&page={{ pg }}">&nbsp;{{ pg }}</a>
                {% endif %}
            {% endfor %}
        </div>
        </div>
        <div class="ui large buttons" style="position: absolute;top: 90%;left: 53%">
          {% if each_object.has_previous %}
            <a href="?query={{ name }}&page={{ each_object.previous_page_number }}" class="ui red button">上一页</a>
          {% else %}
            <a class="ui button">上一页</a>
          {% endif %}
          <div class=" ui or"></div>
          {% if each_object.has_next %}
            <a href="?query={{ name }}&page={{ each_object.next_page_number }}"  class="ui blue button active">下一页</a>
          {% else %}
             <a class="ui button">下一页</a>
          {% endif %}
        </div>
    </div>
</body>
</html>
